<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'includes/bootstrap/dist/css/bootstrap.css' %}">
	<meta charset="UTF-8">
	<title>Store</title>
	<script src="{% static 'includes/jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'includes/underscore/underscore.js' %}"></script>
	<script src="{% static 'js/store.js' %}"></script>
</head>
<body>
	<div class="container">
		<h1>Store</h1>
		<table class="table" id="t1">
			<thead>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
					<th>Buy</th>
				</tr>
				
			</thead>
			<tbody class="items-list"></tbody>
		</table>
	</div>

	
</body>
</html>

